* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html {
    height: 100%;
    font-size: 14px;
}

button,input,select,textarea {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none
}

button {
    cursor: pointer
}

label {
    cursor: pointer
}

/* fieldset,img {
    border: 0
} */

ol,ul {
    list-style: none
}

/* address,em {
    font-style: normal
} */

a {
    text-decoration: none;
    cursor: pointer
}

.footer .footer_copy .footer_logo,.header .logo,.reconfirm_top .logo {
    background-image: url(https://ssl.pstatic.net/static/nid/login/m_sp_00_common_978240a6.png);
    background-size: 244px 107px;
    background-repeat: no-repeat
}


body {
    height: 100%;
    color: #222;
    background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

.wrap {
    position: relative;
    height: 100%;
    letter-spacing: -.5px
}

.header {
    padding-bottom: 48px;
    box-sizing: border-box
}

.header .header_inner {
    position: relative;
    width: 743px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box
}

.header .logo {
    display: inline-block;
    margin-top: 108px;
    vertical-align: top;
    background-position: 0 -51px;
    background-repeat: no-repeat;
    width: 155px;
    height: 30px
}

.lang {
    position: absolute;
    top: 20px;
    right: 0
}

.lang::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    background-position: -147px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    z-index: 0
}

.sel {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    min-width: 95px;
    height: 30px;
    padding: 4px 10px 6px 8px;
    padding: 7px 8px 6px 7px\9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 1
}

.footer {
    padding: 63px 0 32px;
    box-sizing: border-box
}

.footer .footer_inner {
    position: relative;
    text-align: center
}

.footer .corp,.footer .text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.5px;
    color: #888
}

.footer .footer_link li {
    display: inline-block
}

.footer .footer_link li+li {
    position: relative;
    padding-left: 13px
}

.footer .footer_link li+li::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 1px;
    height: 11px;
    background-color: #dadada
}

.footer .footer_link+.footer_copy {
    margin-top: 9px
}

.footer .footer_copy .corp,.footer .footer_copy .text {
    line-height: 16px;
    font-family: 'Helvetica Neue',sans-serif
}

.footer .footer_copy .corp {
    padding: 0 2px;
    font-weight: 500;
    color: #000
}

.footer .footer_copy .footer_logo {
    display: inline-block;
    vertical-align: top;
    background-position: -157px -51px;
    background-repeat: no-repeat;
    width: 70px;
    height: 15px
}

@media (max-width: 742px) {
    .header .header_inner {
        width:auto;
        margin: 0 40px
    }

    .footer {
        margin: 0 40px
    }
}

.login_wrap {
    box-sizing: border-box;
    width: 460px;
    margin: 0 auto
}

.menu_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse
}

.menu_item {
    position: relative;
    display: table-cell;
    vertical-align: top
}

.menu_id,.menu_ones,.menu_qr {
    display: block;
    position: relative;
    height: 61px;
    padding-top: 17px;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    background-color: #f8f9fa;
    text-align: center;
    box-sizing: border-box;
    z-index: 2
}

.menu_id .menu_text,.menu_ones .menu_text,.menu_qr .menu_text {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.5px;
    color: #777;
    vertical-align: middle
}

.menu_id .menu_text::before,.menu_ones .menu_text::before,.menu_qr .menu_text::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0
}

.menu_id.on,.menu_ones.on,.menu_qr.on {
    border-color: #c6c6c6;
    background-color: #fff;
    z-index: 5
}

.menu_id.on .menu_text,.menu_ones.on .menu_text,.menu_qr.on .menu_text {
    color: #333
}

.menu_id {
    border-right: 0;
    border-radius: 6px 0 0 0
}

.menu_id .menu_text::before {
    background-position: -194px -139px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.menu_id.on::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -8px;
    background-position: 0 -139px;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px
}

.menu_id.on .menu_text::before {
    background-position: -142px -172px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.panel_wrap {
    position: relative;
    z-index: 3;
    margin-top: -8px
}

.panel_item {
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(68,68,68,.04)
}

.panel_inner {
    padding: 20px 28px
}

::-webkit-input-placeholder {
    color: #b1b1b1
}

input[type=text]::-webkit-input-placeholder {
    color: #b1b1b1
}

.input_row {
    position: relative;
    display: block;
    height: 100%;
    border: 1px solid #dadada;
    padding: 16px 18px 15px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgba(68,68,68,.08)
}

.input_row .icon_id {
    position: absolute
}

.input_row+.input_row {
    margin-top: -1px
}

/* .input_row.focus {
    border: solid 1px #03c75a;
    z-index: 5
} */

/* .input_row.readonly {
    border: 1px solid #dadada
}

.input_row.readonly .btn_delete {
    display: none
} */

/* .input_row.onetime {
    padding: 12px 17px
}

.input_row.onetime .input_text {
    font-size: 22px;
    line-height: 26px;
    text-align: center
}

.input_row.onetime input[type=text]::-webkit-input-placeholder {
    position: relative;
    top: -2px;
    font-size: 16px;
    color: #b1b1b1
} */

.input_text {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -.5px;
    color: #222;
    box-sizing: border-box;
    z-index: 4
}

.btn_delete {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 35px;
    height: 35px;
    z-index: 5;
    background-color: #fff
}

.icon_delete {
    display: inline-block;
    margin: 8px 0 0 8px;
    background-position: -244px -187px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px
}

.id_pw_wrap .input_row {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box
}

.id_pw_wrap .input_row.on .icon_cell .icon_id {
    background-position: -75px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.id_pw_wrap .input_row.on .icon_cell .icon_pw {
    background-position: -111px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.id_pw_wrap .input_row .icon_cell {
    display: table-cell;
    width: 24px;
    vertical-align: middle
}

.id_pw_wrap .input_row .icon_cell .icon_id,.id_pw_wrap .input_row .icon_cell .icon_pw {
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -8px;
    background-position: -93px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.id_pw_wrap .input_row .icon_cell .icon_pw {
    background-position: -129px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.id_pw_wrap .input_row .input_text {
    display: table-cell;
    padding-right: 30px
}

.id_pw_wrap .input_row:first-child {
    border-radius: 6px 6px 0 0;
    box-shadow: none
}
